<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>🕒</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico" />
    <script src="../static/clock.js" type="text/javascript" defer> </script>
    <style>
        body {background-color: black; margin: 0; padding: 0;}
        html, canvas {margin: 0; padding: 0;}
      </style>
</head>
<body onload="startClock()">
</body>
</html>